<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.distractme">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="com.google.android.providers.gsf.permisson.READ_GSERVICES"/>

    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

<!--        <meta-data-->
<!--            android:name="com.google.android.geo.API_KEY"-->
<!--            android:value="AIzaSyCZZhjUsxROhjnBVCrWmWkM6CM0CVyrufY" />-->

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDYMwrpkBruG7OLwmbtapYr2csCblxFiN4"/>

        <activity
            android:name=".ui.authentication.GuestViewProfile"
            android:exported="false" />
        <activity android:name=".ui.oddoneout.FindTheDancerActivity" />
        <activity android:name=".ui.oddoneout.FindTheMoonActivity" />
        <activity android:name=".ui.oddoneout.FindTheSkunkActivity" />
        <activity android:name=".ui.oddoneout.FindTheDogActivity" />
        <activity android:name=".ui.checkin.MeasureEmotionActivity" />
        <activity android:name=".ui.authentication.EditProfile" />
        <activity android:name=".ui.authentication.ViewProfile" />
        <activity android:name=".ui.login.LoginActivity" />
        <activity android:name=".ui.googlemaps.MapsActivity" android:label="Map"/>

        <activity
            android:name=".ui.authentication.Register"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".domain.provider.GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".ui.drawing.DrawingActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.breathing.BreatheInActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_breathing"
            android:noHistory="true" />
        <activity
            android:name=".ui.breathing.BreatheOutActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_breathing"
            android:noHistory="true" />
        <activity
            android:name=".ui.breathing.BreatheInRepeatActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_breathing"
            android:noHistory="true" />
        <activity
            android:name=".ui.youtube.YoutubeActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_breathing"
            android:noHistory="true" />
        <activity
            android:name=".ui.grounding.FiveThingsSeeActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_grounding"
            android:noHistory="true" />
        <activity
            android:name=".ui.grounding.FourThingsTouchActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_grounding"
            android:noHistory="true" />
        <activity
            android:name=".ui.grounding.ThreeThingsHearActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_grounding"
            android:noHistory="true" />
        <activity
            android:name=".ui.grounding.TwoThingsSmellActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_grounding"
            android:noHistory="true" />
        <activity
            android:name=".ui.grounding.OneThingTasteActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_grounding"
            android:noHistory="true" />
        <activity
            android:name=".ui.grounding.GroundingActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_grounding"
            android:noHistory="true" />
    </application>

</manifest>